{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
structures
{% endblock %}

{% block body %}
<Div class="container-fluid">
    <!-- HEADER -->
    <header class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
            <h1>Structures</h1>
        </div>
    </header>

    <!-- MAIN -->
    <main class="row d-flex justify-content-center mt-4">

        <div class="col-10">
            <!-- Alert message structure actions -->
            {% for message in app.flashes('success') %}
            <div class="alert alert-success col-4">
                {{ message }}
            </div>
            {% endfor %}
            <!-- if structures return an empty array -->
            {% if not structures.items is same as([]) %}
            <div>
                <p>
                    Il y a
                    {{ structures.getTotalItemCount }}
                    structure(s) au total
                </p>

                <a href="{{ path('structure.new') }}" class="btn btn-sm btn-primary shadow">
                    Créer une structure
                </a>

                <!-- structures list -->
                <div class="table-responsive mt-2">
                    <table class="table align-middle table-bordered table-striped table-hover shadow">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">structures</th>
                                <th class="text-center" scope="col">Nom du gérant</th>
                                <th class="text-center" scope="col">Date de création</th>
                                <th class="text-center" scope="col">Statut</th>
                                <th class="text-center" scope="col">Visualiser</th>
                                <th class="text-center" scope="col">Éditer</th>
                                <th class="text-center" scope="col">Suppression</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for structure in structures %}
                            <tr>
                                <td class="text-center" scope="row">{{ structure.getName }}</td>
                                <td class="text-center" scope="row"></td>
                                <td class="text-center" scope="row">{{ structure.createdAt|date("d/m/Y") }}</td>
                                <td class="text-center" scope="row">
                                    {{ structure.isActive }}
                                </td>
                                <td class="text-center" scope="row">
                                    <a href="" class="btn btn-sm btn-primary shadow">Consulter</a>
                                </td>
                                <td class="text-center" scope="row">
                                    <a href="{{ path('structure.edit', { id: structure.id }) }}" class="btn btn-sm btn-warning shadow">modifier</a>
                                </td>
                                <td class="text-center" scope="row">
                                    <a href="{{ path('structure.delete', { id: structure.id }) }}" class="btn btn-sm btn-danger shadow">Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- pagination -->
                <div class="navigation d-flex justify-content-center mt-2">
                    {{ knp_pagination_render(structures) }}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-10">
            <p>Il n'y a pas de structures</p>

            <a href="{{ path('structure.new') }}" class="btn btn-sm btn-primary">
                Créer une structure
            </a>
        </div>
        {% endif %}
</div>
</main>
</Div>
{% endblock %}