{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
structures
{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- HEADER -->
    <header class="row">
        <div class="col-12">
            <h1>Structures</h1>
        </div>
    </header>
    <!-- MAIN -->
    <main class="main_structure row">
        <!-- Alert message user actions  -->
        {% for message in app.flashes('success') %}
        <div class="col-11 col-lg-4 alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <p class="mb-0">{{ message }}</p>
        </div>
        {% endfor %}
        <div class="col-11 col-lg-9">

            <!-- Create button -->
            <div class="row d-flex justify-content-between align-items-center py-1">
                <div class="col-3">
                    <a href="{{ path('structure.new') }}" class="btn btn-primary shadow">+</a>
                </div>
            </div>
            <!-- structures list -->
            <div class="table-responsive mt-2">
                <table class="table align-middle table-bordered table-striped table-hover shadow">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">structures</th>
                            <th class="text-center" scope="col">Gérant</th>
                            <th class="text-center" scope="col">Date de création</th>
                            <th class="text-center" scope="col">Statut</th>
                            <th class="text-center" scope="col">Visualiser</th>
                            <th class="text-center" scope="col">Éditer</th>
                            <th class="text-center" scope="col">Suppression</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for structure in structures %}
                        <tr>
                            <td class="text-center" scope="row">{{ structure.name |title }}</td>
                            <td class="text-center" scope="row">{{ structure.getUsers.fullName |title }}</td>
                            <td class="text-center" scope="row">{{ structure.createdAt |date("d/m/Y") }}</td>
                            <td class="index_structure_status text-center" scope="row">
                                {% if structure.isActive == 1 %}
                                <span class="circle circle_active"></span>
                                {% elseif structure.isActive == 0 %}
                                <span class="circle circle_disable"></span>
                                {% endif %}
                            </td>
                            <td class="text-center" scope="row">
                                <a href="{{ path('structure.show', { id: structure.id }) }}" class="btn btn-sm btn-info shadow">Consulter</a>
                            </td>
                            <td class="text-center" scope="row">
                                <a href="{{ path('structure.edit', { id: structure.id }) }}" class="btn btn-sm btn-warning shadow">Modifier</a>
                            </td>
                            <td class="text-center" scope="row">
                                <a href="{{ path('structure.delete', { id: structure.id }) }}" class="btn btn-sm btn-danger shadow">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- pagination -->
            <div class="navigation d-flex justify-content-center mt-2">
                {{ knp_pagination_render(structures) }}
            </div>
        </div>
    </main>
</div>
{% endblock %}