{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} {{ structure.name }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- HEADER -->
    <header class="row my-4">
        <div class="col-12">
            <h1>{{ structure.name }}</h1>
        </div>
    </header>
    <!-- MAIN -->
    <main class="main_structure row">
        <!-- Structure Details -->
        <div class="col-11 col-lg-6">
            <div class="col">
                <div class="card shadow">
                    <h3 class="card-header">
                        {% for user in structure.users %}
                        {{ user.fullName }}
                        {% endfor %}
                    </h3>
                    <div class="card-body">
                        <p class="card-text">Adresse: {{ structure.postalAddress }}</p>
                        <p class="card-text">Téléphone: {{ structure.phoneNumber }}</p>
                        <p class="card-text">Email:
                            {% for user in structure.users %}
                            {{ user.email }}
                            {% endfor %}
                        </p>
                        <p class="card-text">{{ structure.description }}</p>
                        <p class="card-text">État: {{ structure.isActive }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('structure.edit', { id: structure.id }) }}" class="btn btn-sm btn-warning shadow">modifier</a>
                    </div>
                    <ul class="list-group">
                        {% for service in structure.service %}
                        <li class="list-group-item">
                        <div class="row">
                        {{ service.name }}
                        {{ service.isActive}}
                        </div>
                            <span><a href="{{ path('service.edit', { id: service.id }) }}" class="btn btn-sm btn-warning shadow">modifier</a></span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}