{% extends "base.html.twig" %}

{% block title %}
{{ parent() }}
mofifier partenaire
{% endblock %}

{% block body %}

<div class="container-fluid">
    <!-- HEADER -->
    <header class="row">
        <div class="col-12">
            <h1>Modification d'un partenaire</h1>
        </div>
    </header>
    <!-- MAIN -->
    <main class="main_partner row">
        <div class="col-6 card bg-secondary">
            <div class="card-body">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}

                    <div class="form-error">
                        {{ form_errors(form.name) }}
                    </div>
                </div>

                <div id="form-group">
                    {{ form_row(form.users) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.postalAddress) }}
                    {{ form_widget(form.postalAddress) }}

                    <div class="form-error">
                        {{ form_errors(form.postalAddress) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber) }}

                    <div class="form-error">
                        {{ form_errors(form.phoneNumber) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}

                    <div class="form-error">
                        {{ form_errors(form.description) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check form-switch pt-2">
                        {{ form_label(form.isActive) }}
                        {{ form_widget(form.isActive) }}

                        <div class="form-error">
                            {{ form_errors(form.isActive) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_row(form.structure) }}
                </div>

                <div class="form-image">
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile) }}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class='btn btn-sm btn-success'>Valider</button>
                <a href="{{ path('partner.index') }}" class="btn btn-sm btn-danger shadow">
                    Annuler
                </a>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
</div>
{% endblock %}