{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
partenaires
{% endblock %}

{% block body %}
<Div class="container-fluid">
    <!-- HEADER -->
    <header class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
            <h1>Partenaires</h1>
        </div>
    </header>

    <!-- MAIN -->
    <main class="row d-flex justify-content-center mt-4">

        <div class="col-10">
            <!-- Alert message partner actions -->
          {% for message in app.flashes('success') %}
            <div class="alert alert-success col-4">
                {{ message }}
            </div>
            {% endfor %}
            <!-- if partners return an empty array -->
            {% if not partners.items is same as([]) %}
            <div>
                <p>
                    Il y a
                    {{ partners.getTotalItemCount }}
                    partner(s) au total
                </p>

                <a href="{{ path('partner.new') }}" class="btn btn-sm btn-primary shadow">
                    Créer un partenaire
                </a>

                <!-- partners list -->
                <div class="table-responsive mt-2">
                    <table class="table align-middle table-bordered table-striped table-hover shadow">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">Partenaires</th>
                                <th class="text-center" scope="col">Nom du franchisé</th>
                                <th class="text-center" scope="col">Date de création</th>
                                <th class="text-center" scope="col">Statut</th>
                                <th class="text-center" scope="col">Visualiser</th>
                                <th class="text-center" scope="col">Éditer</th>
                                <th class="text-center" scope="col">Suppression</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for partner in partners %}
                            <tr>
                                <td class="text-center" scope="row">{{ partner.getName }}</td>
                                <td class="text-center" scope="row"></td>
                                <td class="text-center" scope="row">{{ partner.createdAt|date("d/m/Y") }}</td>
                                <td class="text-center" scope="row">
                                    {{ partner.isActive }}
                                </td>
                                <td class="text-center" scope="row">
                                    <a href="" class="btn btn-sm btn-primary shadow">Consulter</a>
                                </td>
                                <td class="text-center" scope="row">
                                    <a href="{{ path('partner.edit', { id: partner.id }) }}" class="btn btn-sm btn-warning shadow">modifier</a>
                                </td>
                                <td class="text-center" scope="row">
                                    <a href="{{ path('partner.delete', { id: partner.id }) }}" class="btn btn-sm btn-danger shadow">Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- pagination -->
                <div class="navigation d-flex justify-content-center mt-2">
                    {{ knp_pagination_render(partners) }}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-10">
            <p>Il n'y a pas de partnaires</p>

            <a href="{{ path('partner.new') }}" class="btn btn-sm btn-primary">
                Créer un partnaire
            </a>
        </div>
        {% endif %}
</div>
</main>
</Div>
{% endblock %}