{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} {{ partner.name }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- HEADER -->
    <header class="row" id="show_partner_header">
        <div class="col-12">
            <h1>
                {{ partner.name }}
            </h1>
        </div>
    </header>
    <!-- MAIN -->
    <main class="main_partner row g-2">
        <!-- Partner Details -->
        <div class="col-11 col-lg-7">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">
                        {% for user in partner.users %}
                        {{ user.fullName}}
                        {% endfor %}
                    </h2>
                    <p class="card-text">Adresse: {{ partner.postalAddress }}</p>
                    <p class="card-text">
                        Email: {% for user in partner.users %}
                        {{ user.email}}
                        {% endfor %}
                    </p>
                    <p class="card-text">Téléphone: {{ partner.phoneNumber }}</p>
                    <p class="card-text">{{ partner.description }}</p>
                    <p class="partner_status card-text">État:
                        {% if partner.isActive == 1 %}
                        <span class="circle circle_active"></span>
                        {% elseif partner.isActive == 0 %}
                        <span class="circle circle_disable"></span>
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('partner.edit', { id: partner.id }) }}" class="btn btn-sm btn-warning shadow">Modifier</a>
                </div>
            </div>
        </div>

        <!-- Structures of partner -->
        <div class="main_partner_structures row row-cols-1 row-cols-lg-3 g-2">
            {% for structure in partner.structure %}
            <div class="col">
                <div class="card shadow">
                    <h3 class="card-header text-center">{{ structure.name }}</h3>
                    <div class="card-body">
                        {% for user in structure.users %}
                        <p class="card-text">Gérant: {{ user.fullName }}
                        <p class="card-text">Email: {{ user.email }}</p>
                        {% endfor %}
                        </p>
                        <p class="partner_structure_status card-text">État:
                            {% if structure.isActive == 1 %}
                            <span class="circle circle_active"></span>
                            {% elseif structure.isActive == 0 %}
                            <span class="circle circle_disable"></span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('structure.show', { id: structure.id }) }}" class="btn btn-sm btn-info shadow">Consulter</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</div>
{% endblock %}