{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
utilisateurs
{% endblock %}

{% block body %}

<div class="container-fluid">
	<!-- HEADER -->
	<header class="row">
		<div class="col-12">
			<h1>Utilisateurs</h1>
		</div>
	</header>
	<!-- MAIN -->
	<main class="row">
		<!-- Alert message user actions  -->
		{% for message in app.flashes('success') %}
		<div class="col-11 col-lg-5 alert alert-dismissible alert-success">
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			<p class="mb-0">{{ message }}</p>
		</div>
		{% endfor %}
		<div class="col-11 col-lg-9">
			<!-- Create button and filtering -->
			<div class="row d-flex justify-content-between align-items-center py-1">
				<!-- Create button -->
				<div class="col-2 col-lg-3">
					<a href="{{ path('user.new') }}" class="btn btn-primary shadow">+</a>
				</div>
				<!-- search form -->
				<div class="col-9 col-lg-4">
					{{ form_start(searchUserForm) }}
					<div class="d-flex">
						{{ form_widget(searchUserForm.u, {attr: {class:'form-control me-1'}}) }}
						<button type="submit" class="btn btn-sm btn-secondary shadow">Rechercher</button>
					</div>
					{{ form_end(searchUserForm) }}
				</div>
			</div>
			<!-- users list -->
			<div class="table-responsive mt-2">
				<table class="table align-middle table-bordered table-striped table-hover shadow">
					<thead>
						<tr>
							<th class="text-center" scope="col">utilisateurs</th>
							<th class="text-center" scope="col">Rôles</th>
							<th class="text-center" scope="col">Date de création</th>
							<th class="text-center" scope="col">Éditer</th>
							<th class="text-center" scope="col">Suppression</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td class="text-center" scope="row">{{ user.fullName|title }}</td>
							<td class="text-center" scope="row">
								{% for role in user.roles %}
								{% if role == "ROLE_ADMIN" %}
								Administreur
								{% elseif role == "ROLE_PARTNER" %}
								Partenaire
								{% elseif role == "ROLE_STRUCTURE" %}
								Structure
								{% endif %}
								{% endfor %}
							</td>
							<td class="text-center" scope="row">{{ user.createdAt|date("d/m/Y") }}</td>
							<td class="text-center" scope="row">
								<a href="{{ path('user.edit', { id: user.id }) }}" class="btn btn-sm btn-warning shadow">Modifier</a>
							</td>
							<td class="text-center" scope="row">
								<a href="{{ path('user.delete', { id: user.id }) }}" class="btn btn-sm btn-danger shadow">Supprimer</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- pagination -->
			<div class="navigation d-flex justify-content-center mt-2">
				{{ knp_pagination_render(users) }}
			</div>
		</div>
	</main>
</div>
{% endblock %}