{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
services
{% endblock %}

{% block body %}
<div class="container-fluid">
	<!-- HEADER -->
	<header class="row">
		<div class="col-12">
			<h1>Services</h1>
		</div>
	</header>
	<!-- MAIN -->
	<main class="main_service row">
		<div class="col-12 col-lg-10">
			<!-- Alert message service actions  -->
			{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				<p class="mb-0">{{ message }}</p>
			</div>
			{% endfor %}
			<!-- Create button and filtering-->
			<div class="row d-flex justify-content-between align-items-center">
				<!-- Create button -->
				<div class="col-3">
					<a href="{{ path('service.new') }}" class="btn btn-primary shadow">Créer un service</a>
				</div>
				<!-- search form -->
				<div class="col-4">
					{{ form_start(searchServiceForm) }}
					<div class="d-flex">
						<div class="form-check form-switch me-2">
							{{ form_widget(searchServiceForm.isActive) }}
							{{ form_label(searchServiceForm.isActive) }}
						</div>
						<div class="form-check form-switch">
							{{ form_widget(searchServiceForm.isDisabled) }}
							{{ form_label(searchServiceForm.isDisabled) }}
						</div>
					</div>
					<div class="d-flex">
						{{ form_widget(searchServiceForm.se, {attr: {class:'form-control me-1'}}) }}
						<button type="submit" class="btn btn-secondary shadow">Rechercher</button>
					</div>
					{{ form_end(searchServiceForm) }}
				</div>
				<!-- Services list -->
				<div class="table-responsive mt-2">
					<table class="table align-middle table-bordered table-striped table-hover shadow">
						<thead>
							<tr>
								<th class="text-center" scope="col">Services</th>
								<th class="text-center" scope="col">Statut</th>
								<th class="text-center" scope="col">Date de création</th>
								<th class="text-center" scope="col">Édition</th>
								<th class="text-center" scope="col">Suppression</th>
							</tr>
						</thead>
						<tbody>
							{% for service in services %}
							<tr>
								<td class="text-center" scope="row">{{ service.name|capitalize }}</td>
								<td class="index_service_status text-center" scope="row">
									{% if service.isActive == 1 %}
									<span class="circle circle_active"></span>
									{% elseif service.isActive == 0 %}
									<span class="circle circle_disable"></span>
									{% endif %}
								</td>
								<td class="text-center" scope="row">{{ service.createdAt|date("d/m/Y") }}</td>
								<td class="text-center" scope="row">
									<a href="{{ path('service.edit', { id: service.id }) }}" class="btn btn-sm btn-warning shadow">modifier</a>
								</td>
								<td class="text-center" scope="row">
									<a href="{{ path('service.delete', { id: service.id }) }}" class="btn btn-sm btn-danger shadow">Supprimer</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- pagination -->
				<div class="navigation d-flex justify-content-center mt-2">
					{{ knp_pagination_render(services) }}
				</div>
			</div>
		</div>
	</main>
</div>
{% endblock %}