{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	services
{% endblock %}

{% block body %}
<Div class="container-fluid">
	<!-- HEADER -->
	<header class="row mt-4">
		<div class="col-12 d-flex justify-content-center">
			<h1>Services</h1>
		</div>
	</header>

	<!-- MAIN -->
	<main class="row d-flex justify-content-center mt-4">
		<div class="col-12 col-lg-10">
		<!-- Alert message service actions -->
			{% for message in app.flashes('success') %}
			<div class="alert alert-success col-6 col-lg-3">
				{{ message }}
			</div>
			{% endfor %}

			<!-- if services return an empty array -->
			{% if not services.items is same as([]) %}
			<div>
				<p>
					Il y a
					{{ services.getTotalItemCount }}
					service(s) au total
				</p>

				<a href="{{ path('service.new') }}" class="btn btn-sm btn-primary shadow">
					Créer un service
				</a>

				<!-- Services list -->
				<div class="table-responsive mt-2">
					<table class="table align-middle table-bordered table-striped table-hover shadow">
						<thead>
							<tr>
								<th class="text-center" scope="col">Services</th>
								<th class="text-center" scope="col">Date de création</th>
								<th class="text-center" scope="col">Édition</th>
								<th class="text-center" scope="col">Suppression</th>
							</tr>
						</thead>
						<tbody>
							{% for service in services %}
							<tr>
								<td class="text-center" scope="row">{{ service.name }}</td>
								<td class="text-center" scope="row">{{ service.createdAt|date("d/m/Y") }}</td>
								<td class="text-center" scope="row">
									<a href="{{ path('service.edit', { id: service.id }) }}" class="btn btn-sm btn-warning shadow">modifier</a>
								</td>
								<td class="text-center" scope="row">
									<a href="{{ path('service.delete', { id: service.id }) }}" class="btn btn-sm btn-danger shadow">Supprimer</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<!-- pagination -->
				<div class="navigation d-flex justify-content-center mt-2">
					{{ knp_pagination_render(services) }}
				</div>
			</div>
		</div>
		{% else %}
		<div class="col-12 col-lg-10">
			<p>Il n'y a pas de services</p>

			<a href="{{ path('service.new') }}" class="btn btn-sm btn-primary">
				Créer un service
			</a>
		</div>
		{% endif %}
</div>
</main>
</Div>
{% endblock %}